.icon {
  background-size: 16px 16px;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 10px;

  &.icon-check {
    background: url("./static/check-darkmode.svg") no-repeat center center;
  }
}

.app {
  min-width: 361px; // 1440/4
}